#banner {
position: fixed;
height: 60px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #FA8072;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
background-color: #2c2c2c;
  }}

#banner h1 {
    line-height: 60px;
}
h1{
	color: #FA8072;
	font-family: 'Verdana', serif;
}
h2{
	color: #FA8072;
	font-family: 'Verdana', serif;
}

 body{
 	background-color:#EEEEEE;
 }

h3{
	color: #FA8072;
	font-family: 'Verdana', serif;
}

li {
  color: #DDA0DD; /* bullet color */
  margin-left: 5%;
}
li span {
  margin-left: 5%;
  color: #DDA0DD; /* text color */
}



h4{
	color: #FA8072;
	font-family: 'Verdana', serif;
}
h5{
	color: #FA8072;
	font-family: 'Verdana', serif;
}

img{
	width: 35%;
	margin-left: 30%;
}
<form action="/html/tags/html_form_tag_action.cfm" method="post">
<textarea name="comments" id="comments" style="width:96%;height:90px;padding:2%;font-size:1.2em;background-color:gold;">
Hey... say something!
</textarea>
<input type="submit" value="Submit">
</form>


	}